**.mp4
**.pkl

# Model Checkpoints
models/BadAppleModel_**x**_To_**x**_conv*/trainingHistory/**.pt

# Virtual Environment
/.venv

# Python cache
__pycache__/

# Dataset files
dataset/**x**_To_**x**/**.csv